people-component {
  background-color: rgb(84, 160, 255);
}

@media only screen and (min-width: 720px) {
  people-component {
    border-left: 7px solid rgb(46, 134, 222);
  }
}

@media only screen and (max-width: 720px) {
  people-component {
    height: 20%;
  }
}

people-component > * {
  width: 100%;
}

people-component .people-profile {
  margin-top: 30px;
  max-height: 25%;
}

.people-profile-header img {
  height: 80px;
  width: 80px;
}

.people-profile-name {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
