people-component {
  background-color: rgb(84, 160, 255);
  border-left: 7px solid rgb(46, 134, 222);
}

people-component > * {
  width: 100%;
}

people-component .people-profile {
  margin-top: 15px;
  max-height: 25%;
}

.people-profile-header img {
  height: 80px;
  width: 80px;
}

.people-profile-name {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
