<div class="people-profile">
  <div ng-if="ppl.isLoggedIn()">
    <div class="people-profile-header">
      <img src="https://www.gravatar.com/avatar/{{ppl.userEmailHash}}" alt="profile" class="rounded-circle mx-auto d-block" />
    </div>
    <div class="people-profile-name">{{ppl.userName}} (<a href="#" ng-click="ppl.clearUserDetails()">logout</a>)</div>
  </div>
  <form ng-if="!ppl.isLoggedIn()">
    <div class="form-group">
      <label for="peopleFieldName" class="bmd-label-floating">Name</label>
      <input type="text" class="form-control" id="peopleFieldName" ng-model="ppl.userName">
    </div>
    <div class="form-group">
      <label for="peopleFieldEmail" class="bmd-label-floating">Email</label>
      <input type="text" class="form-control" id="peopleFieldEmail" ng-model="ppl.userEmail">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-raised btn-primary" ng-click="ppl.setUserDetails()">Login</button>
    </div>
  </form>
</div>
<div class="people-feed">
  <div class="people-feed-list">

  </div>
</div>
<div class="people-logs">&nbsp;</div>
