<!DOCTYPE html>
<html lang="en" ng-app="tbsChatroomApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <title>The Bibi Series | Chatroom</title>
</head>
<body>
  <header class="site-header sticky-top py-1 text-center">The Chatroom</header>
  <div class="container">
    <div class="row fill-y">
        <section class="message-container col-md-9" ng-controller="MessageController as msg">
          <div class="message-feed" scroll-glue>
            <div class="clearfix" ng-repeat="e in msg.feed track by $index" ng-class="e.sender ? 'message-feed-me' : 'message-feed-them'">
                <div class="card">
                  <div class="card-body">
                      <h6 class="card-title">{{e.name}}</h6>
                      <span class="card-text">{{e.message}}</span>
                  </div>
                </div>
            </div>
          </div>
          <form>
            <div class="form-group row fill-x">
              <div class="col-md-10">
                <label for="messageFieldValue" class="bmd-label-floating">Enter your message here</label>
                <input type="text" class="form-control" name="messageFieldValue" ng-model="msg.fieldValue" autofocus on-enter="msg.submitMessage()" />
              </div>
              <div class="col-md-2">
                <button type="button" tabindex="0" class="btn btn-raised btn-primary fill-x" ng-click="msg.submitMessage()">Submit</button>
              </div>
            </div>
        </form>
        </section>
        <section class="people-container col-md-3">
          <div class="people-feed">&nbsp;</div>
          <div class="people-logs">&nbsp;</div>
        </section>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-scroll-glue/2.2.0/scrollglue.min.js"></script>
  <script src="app.bundle.js"></script>
</body>
</html>
