messages-component {
  max-height: 93%;
  padding-right: 0;
}

messages-component,
messages-component .form-group {
  padding-right: 10px;
}

messages-component .form-group {
  margin: 0;
  padding-top: 15px;
}

messages-component .form-group label {
  top: 10px;
}

messages-component .form-group.is-focused label {
  top: -8px;
  left: 15px;
}

messages-component .form-group.is-filled label {
  visibility: hidden;
}

messages-component .form-group button {
  padding-right: 15px;
}

.message-feed {
  background-color: rgb(200, 214, 229);
  height: 96%;
  overflow-y: scroll;
  padding-bottom: 20px;
  padding-top: 30px;
}

.message-feed .sender-img-left {
  float: left;
  margin-right: 10px;
}

.message-feed .sender-img-right {
  float: right;
  margin-left: 10px;
}

.message-feed .sender-img-left img,
.message-feed .sender-img-right img {
  height: 64px;
  width: 64px;
}

.message-feed .card {
  margin-bottom: 10px;
  max-width: 75%;
}

.message-feed .card-title {
  font-size: 12px !important;
  margin-bottom: 5px;
}

.message-feed .card-body {
  padding: 12px;
}

.message-feed-me {
  margin-right: 30px;
}

.message-feed-me .card {
  background-color: rgb(87, 101, 116);
  color: white;
  float: right;
}

.message-feed-me .card-title {
  color: rgb(200, 214, 229);
  text-align: right;
}

.message-feed-them {
  margin-left: 30px;
}

.message-feed-them .card {
  background-color: rgb(10, 189, 227);
  color: white;
  float: left;
}
